#header{:style=>"background-color:#{phenomenal_color(127,127,127)}"}
  #main_title
    Phenomenal Gem
  #menu
    %ul
      %li= link_to "Home", root_path
      %li
        |
      %li= link_to "Project", project_path
      %li
        |
      %li= link_to "Documentation", documentation_path
      %li
        |
      %li= link_to "Your context", context_path
  .clear
