!!!
%html
  %head
    %meta(http-equiv="content-Type" content="text/html; charset=UTF-8")
    %title= title
    = favicon_link_tag('/favicon.png')
    = stylesheet_link_tag    "application"
    <!--[if lt IE 8]>
    = stylesheet_link_tag 'blueprint/ie'
    <![endif]-->
    = javascript_include_tag "application"
    = csrf_meta_tag
    = yield :head
    %meta(name="google-site-verification" content="RRfR1jRuxUMF6eMB5r3Y2U7ErB2uBopOrYoTY9C_WJ8")
  %body
    .container
      = render "layouts/header"
      .shadow
        = yield :presenter
        #body
          - [:notice, :error, :message, :success].each do |key|
            - unless flash[key].blank?
              %div{ :class => "flash #{key}" }= flash[key] 
          = yield
          .clear
        = render 'layouts/footer'
      = debug(params) if Rails.env.development? 
