!!!
%html
  %head
    %meta(http-equiv="content-Type" content="text/html; charset=UTF-8")
    %title= title
    = favicon_link_tag('/favicon.png')
    = stylesheet_link_tag    "application"
    <!--[if lt IE 8]>
    = stylesheet_link_tag 'blueprint/ie'
    <![endif]-->
    = javascript_include_tag "application"
    = csrf_meta_tag
    = yield :head
    -if Rails.env.production? 
      <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28736734-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
      </script>
  %body
    .container
      = render "layouts/header"
      .shadow
        = yield :presenter
        #body
          - [:notice, :error, :message, :success].each do |key|
            - unless flash[key].blank?
              %div{ :class => "flash #{key}" }= flash[key] 
          = yield
          .clear
        = render 'layouts/footer'
      = debug(params) if Rails.env.development? 
      
