!!!
%html
  // Original Slides implemntation from http://slides.html5rocks.com/#title-slide
  %head
    %title= title
    = favicon_link_tag('/favicon.png')
    = csrf_meta_tag
    %meta(http-equiv="content-Type" content="text/html; charset=UTF-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1")
    %link{:href=>"http://fonts.googleapis.com/css?family=Droid+Sans|Droid+Sans+Mono", :rel=>"stylesheet", :type=>"text/css"}
    = stylesheet_link_tag "presentation"
    = yield :head

    -if Rails.env.production?
      <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28736734-1']);
      _gaq.push(['_trackPageview']);
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
      </script>
  %body
    %nav{:id=>"helpers"}

      %button{:title=>"Previous slide", :id=>"nav-prev", :class=>"nav-prev"}  ⇽
      %button{:title=>"Jump to a random slide", :id=>"slide-no"} 5
      %button{:title=>"Next slide", :id=>"nav-next", :class=>"nav-next"} ⇾


      %menu
        %button{:type=>"checkbox", "data-command"=>"toc", :title=>"Table of Contents", :class=>"toc"} TOC
        %button{:type=>"checkbox", "data-command"=>"help", :title=>"View Help"} ?
        %button=link_to "⌂", :root,:title=>"Phenomenal Gem Home"
    .presentation
      #presentation-counter{:style=>"display: none;"} Loading...
      .slides
        = yield
    #speaker-note.invisible{:style=>"display: none;"}
    %aside{:id=>"help", :class=>"sidebar invisible",:style=>"display: hidden;"}
      %table
        %caption Help
        %tbody
          %tr
            %th Move Around
            %td &larr;&nbsp;&rarr;
          %tr
            %th Source File
            %td s
          //%tr
          //  %th Change Theme
          //  %td t
          //%tr
          //  %th Syntax Highlight
          //  %td h
          %tr
            %th Speaker Notes
            %td n
          %tr
            %th Toggle 3D
            %td 3
          %tr
            %th Help
            %td 0
    = javascript_include_tag "presentation"
