!!!
%html
  // Original Slides implemntation licence from http://slides.html5rocks.com/#title-slide
  //Copyright 2011 Google Inc.
  //Licensed under the Apache License, Version 2.0 (the "License");
  //you may not use this file except in compliance with the License.
  //You may obtain a copy of the License at
  //http://www.apache.org/licenses/LICENSE-2.0
  //Unless required by applicable law or agreed to in writing, software
  //distributed under the License is distributed on an "AS IS" BASIS,
  //WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  //See the License for the specific language governing permissions and
  //limitations under the License.
  //Original slides: Marcin Wichary (mwichary@google.com)
  //Modifications: Chrome DevRel Team (chrome-devrel@googlegroups.com)
  //Alex Russell (slightlyoff@chromium.org)
  //Brad Neuberg
  %head
    %title= title
    = favicon_link_tag('/favicon.png')
    = csrf_meta_tag
    %meta(http-equiv="content-Type" content="text/html; charset=UTF-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1")
    %link{:href=>"http://fonts.googleapis.com/css?family=Droid+Sans|Droid+Sans+Mono", :rel=>"stylesheet", :type=>"text/css"}
    <link id="prettify-link" href="/assets/html5rocks/prettify.css" rel="stylesheet" disabled />
    <link href="/assets/html5rocks/moon.css" class="theme" rel="stylesheet" />
    <link href="/assets/html5rocks/sand.css" class="theme" rel="stylesheet" />
    <link href="/assets/html5rocks/sea_wave.css" class="theme" rel="stylesheet" />
    <link href="/assets/html5rocks/default.css" class="theme" rel="stylesheet" media="screen"  />
    = stylesheet_link_tag    "html5rocks/common.css"
    = stylesheet_link_tag    "presentation.css"
    = yield :head

    -if Rails.env.production?
      <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28736734-1']);
      _gaq.push(['_trackPageview']);
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
      </script>
  %body
    %nav{:id=>"helpers"}
      %button{:title=>"Previous slide", :id=>"nav-prev", :class=>"nav-prev"}  ⇽
      %button{:title=>"Jump to a random slide", :id=>"slide-no"} 5
      %button{:title=>"Next slide", :id=>"nav-next", :class=>"nav-next"} ⇾

      %menu
        %button{:type=>"checkbox", "data-command"=>"toc", :title=>"Table of Contents", :class=>"toc"} TOC
        %button{:type=>"checkbox", "data-command"=>"help", :title=>"View Help"} ?
    .presentation
      #presentation-counter{:style=>"display: none;"} Loading...
      .slides
        = yield
    #speaker-note.invisible{:style=>"display: none;"}
    %aside{:id=>"help", :class=>"sidebar invisible",:style=>"display: hidden;"}
      %table
        %caption Help
        %tbody
          %tr
            %th Move Around
            %td &larr;&nbsp;&rarr;

          %tr
            %th Source File
            %td s

          %tr
            %th Change Theme
            %td t
          %tr
            %th Syntax Highlight
            %td h
          %tr
            %th Speaker Notes
            %td n
          %tr
            %th Toggle 3D
            %td 3
          %tr
            %th Help
            %td 0
    = javascript_include_tag "html5rocks/prettify", :onload=>"prettyPrint();", :defer=>"defer"
    = javascript_include_tag "html5rocks/utils"
    = javascript_include_tag "presentation"
